.grid-container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 10px;
}

#header {
    grid-column: 1 / span 3;
}

#menu {
    grid-column: 1 / span 1;
}

#main {
    grid-column: 2 / span 1;
}
#left{
    grid-column: 1/ 1;
}
#right{
    grid-column: 3/ 1;
}

#footer {
    grid-column: 1 / span 3;
}
body {
    background-color: aquamarine;
}

hr{
    height: 3px;
    background-color: sandybrown;
    border-radius: 25px;
}

div{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link{
    color: blue;
}

a:visited{
    color: gray;
}

a:hover{
    color: red;
}

a:active{
    color: burlywood;
}

#H1 {
    color: antiquewhite;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: goldenrod;
}

#TopicCinnamonPic{
    border-radius: 25px;
    border: 5px dotted red;
    padding: 5px;
    
}

#IngredientPic{
    float: right;
    margin-left: 60px;
    margin-right: 20px;
}

#MethodPic{
    float: left;
    margin-left: 20px;
    margin-right: 60px;
}

.roundBorder25{
    border-radius: 25px;
    border: 4px dashed red;
    padding: 5px;
}

.parent{
    flex-wrap: wrap;
    display: inline block;
    text-align: center;
}

.flex_container{
    display: flex;
}

.centerPage{
    text-align: center;
}

.middleVertical{
    vertical-align: middle;
}

.boldText{
    font-weight: bold;
}

.marginTopDown10{
    margin-top: 40px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 1000px) {
    body{
        background-color: sandybrown;
    }

    div {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: cornsilk;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-gap: 10px;
    }

    #header {
        grid-column: 1 / span 2;
    }
    
    #menu {
        grid-column: 1 / span 1;
    }
    
    #main {
        grid-column: 2 / span 1;
        text-align: left;
    }
    #left{
        grid-column: 1/ span 2;
    }
    #right{
        grid-column: 2/ span 1;
    }
    
    #footer {
        grid-column: 1 / span 2;
    }
}
@media only screen and (max-width: 500px) {
    body{
        background-color: pink;
    }

    div {
        font-size: 24px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: cornsilk;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }

    #header {
        grid-column: 1 / span 1;
    }
    
    #menu {
        grid-column: 1 / span 1;
    }
    
    #main {
        grid-column: 1 / span 1;
        text-align: left;
    }
    #left{
        grid-column: 1/ span 1;
    }
    #right{
        grid-column: 1/ span 1;
    }
    
    #footer {
        grid-column: 1 / span 1;
    }
}